
@import "compass/typography/lists/bullets";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

$selected-tab: #ffec8b;
$normal-tab: #ececec;

@import "compass-ui/theme/absolution";

@include absolution-theme;

div.container-fluid {
    padding-left: 0px;
}

nav {
  font-family: 'Open Sans', sans-serif;
}

nav.navbar {
  position:fixed;
  width: 100%;
  @include border-radius(0);
  i {
    padding-right: 5px;
  }
}

span.username {
  font-weight: bold;
}

#tabs {
    padding-left: 0px;
    background: #fff;
    border: none;
}

#preloader {
    position: absolute;
    top: 2rem;
    left: 10rem;
    z-index: 100;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #111;
    display: none;
}

#tabs {
    width: 140px;
    position:fixed;
    left:0px;
    top: 60px;
    z-index: 100;
    ul {
        @include no-bullets;
        border-bottom: 4px solid #ccc;
	li {
	    @include transition-property(width);
	    @include transition-duration(0.2s);
	    clear: left;
	    width: 100%;
	    border: none;
            background: $normal-tab;
	    &.active {
		padding-bottom: 0;
		background: $selected-tab;
		width: 150px;
		i {
		    margin-left: 50px;
		}
	        &:hover {
		    background: $selected-tab;
		}
	    }
	    div {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-shadow: 2px 1px 0px #fff;
		margin-top: 4px;
	    }
	    &:hover {
                background: darken($normal-tab, 5%);
		@include transition-property(width);
		@include transition-duration(0.2s);
		width: 150px;
		i {
		    @include transition-property(margin-left);
		    @include transition-duration(0.2s);
		    margin-left: 50px;
		}

            }
	    i {
		@include transition-property(margin-left);
		@include transition-duration(0.2s);
		margin-left: 45px;
		text-shadow: 2px 1px 0px #fff;
	    }
	    a {
		@include single-box-shadow(rgba(#333, 0.5), -4px, 13px, 11px);
		display:block;
		padding-top: 20px;
                height: 110px;
		float: none;
		color: #111;
		&:focus {
		    outline: none;
		}
	    }

	}

    }
}
