
@import "compass/typography/lists/bullets";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

$selected-tab: #ffec8b;
$normal-tab: #ececec;

@import "compass-ui/theme/absolution";

@include absolution-theme;

div.container-fluid {
    padding-left: 0px;
}

nav {
  font-family: 'Open Sans', sans-serif;
}

nav.navbar {
  position:fixed;
  width: 100%;
  @include border-radius(0);
  i {
    padding-right: 5px;
  }
}

span.username {
  font-weight: bold;
}

#tabs {
    padding-left: 0px;
    background: #fff;
    border: none;
}


#tabs {
    width: 140px;
    position:fixed;
    left:0px;
    top: 7%;
    z-index: 100;
    ul {
        @include no-bullets;
        border-bottom: 4px solid #ccc;
	li {
	    @include transition-property(width);
	    @include transition-duration(0.2s);
	    clear: left;
	    width: 100%;
	    border: none;
            background: $normal-tab;
	    &.active {
		padding-bottom: 0;
		background: $selected-tab;
		width: 150px;
	        &:hover {
		    background: $selected-tab;
		}
	    }
	    div {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-shadow: 2px 1px 0px #fff;
		margin-top: 4px;
	    }
	    &:hover {
                background: darken($normal-tab, 5%);
		@include transition-property(width);
		@include transition-duration(0.2s);
		width: 150px;

            }
	    i {
		text-shadow: 2px 1px 0px #fff;
	    }
	    a {
		@include single-box-shadow(rgba(#333, 0.5), -4px, 13px, 11px);
		display:block;
		padding-top: 20px;
                height: 110px;
		float: none;
		color: #111;
		text-align: center;
		&:focus {
		    outline: none;
		}
	    }

	}

    }
}

#box{
  margin-top: 4%;
  border-bottom: 4px solid #111;
  padding: 0;
}

/* course styles */

#course-tabs {
    margin-left: 8%;
    a {
	margin: 0;
    }
    i {
      padding-right: 5px;
    }
}


.tab-button {
    @include single-box-shadow(rgba(#333, 0.5), -4px, 2px, 5px);
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: $normal-tab;
    padding-left: 3em;
    padding-right: 3em;
    color: #111;
    @include border-radius(0);
    &:focus {
	background-color: $selected-tab;
        color: #111;
    }
    &:hover {
	background-color: darken($normal-tab, 5%);
        color: #111;
    &:focus {
	background-color: $selected-tab;
        color: #111;
    }
    }
}
