
@import "compass/typography/lists/bullets";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

$selected-tab: #ffec8b;
$normal-tab: #ececec;

$menu-bg: #111;
$menu-fg: #eee;

@import "compass-ui/theme/absolution";

@include absolution-theme;

div.container-fluid {
    padding-left: 0px;
}

nav {
    z-index:100;
    font-family: 'Open Sans', sans-serif;
    background: $menu-bg;
    a {
	color: $menu-fg;
	&:hover, &:focus {
	    color: $selected-tab;
	}
    }
    ul.dropdown-menu {
	background: $menu-bg;
	color: $menu-fg;
	a {
	    color: $menu-fg;
	    &:hover {
		color: $menu-bg;
	    }
	}
    }
    height: 55px;
    .dropdown-arrow {
	border-color: rgba(0,0,0,0) rgba(0,0,0,0) $menu-bg;
    }
}

nav.navbar {
    top: 0px;
    position:fixed;
    width: 100%;
    @include border-radius(0);
    i {
	padding-right: 5px;
    }
}

.navbar-nav > li > a:hover .caret,
.navbar-nav > li > a:focus .caret,
.navbar-nav .open > a:focus .caret,
.navbar-nav .open > a:hover .caret,
.navbar-nav .dropdown-toggle .caret {
    border-bottom-color: $selected-tab;
    border-top-color: $selected-tab;
}

span.username {
    font-weight: bold;
}

#tabs {
    padding-left: 0px;
    width: 140px;
    position:fixed;
    left:0px;
    top: 0px;
    z-index: 100;
    height: auto;
    ul {
        @include no-bullets;
        border-bottom: 4px solid #ccc;
	li {
	    @include transition-property(width);
	    @include transition-duration(0.2s);
	    clear: left;
	    width: 100%;
	    border: none;
            background: $normal-tab;
	    &.active {
		padding-bottom: 0;
		background: $selected-tab;
		width: 105%;
	        &:hover {
		    background: $selected-tab;
		}
	    }
	    div {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-shadow: 2px 1px 0px #fff;
		margin-top: 5%;
	    }
	    &:hover {
                background: darken($normal-tab, 5%);
		@include transition-property(width);
		@include transition-duration(0.2s);
		width: 105%;

            }
	    i {
		text-shadow: 2px 1px 0px #fff;
	    }
	    a {
		@include single-box-shadow(rgba(#333, 0.5), -4px, 13px, 11px);
		display:block;
		padding-top: 18%;
                height: 110%;
		padding-bottom: 18%;
		float: none;
		color: $menu-bg;
		text-align: center;
		&:focus {
		    outline: none;
		}
	    }

	}

    }
}

#box{
    top: 55px;
    font-family: 'Open Sans', sans-serif;
    .form-control {
	@include border-radius(0);
	@include transition-property(border-color);
	@include transition-duration(0.25s);
	&:focus {
	    @include transition-property(border-color);
	    @include transition-duration(0.25s);
	    border-color: #111;
	}
    }
    .btn-primary {
	background-color: #2c3e50;
	text-transform: uppercase;
	font-weight: bold;
    }
}

div.page {
    margin-top: 100px;
}

legend {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

label {
    margin-left: 5px;
    padding: 8px;
    color: #eee;
    background: #111;
    font-weight: bold;
}

.control-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* course styles */

#course-tabs {
    position: fixed;
    z-index: 100;
    margin-left: 160px;
    a {
	margin: 0;
    }
    i {
	padding-right: 5px;
    }

    .tab-button {
	@include single-box-shadow(rgba(#333, 0.5), -4px, 2px, 5px);
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background: $normal-tab;
	padding-left: 3em;
	padding-right: 3em;
	color: $menu-bg;
	@include border-bottom-left-radius(30px);
	@include border-bottom-right-radius(30px);
	&:focus {
	    background-color: $selected-tab;
            color: $menu-bg;
	}
	&:hover {
	    background-color: darken($normal-tab, 5%);
            color: $menu-bg;
	    &:focus {
		background-color: $selected-tab;
		color: $menu-bg;
	    }
	}
    }

}

#tabs {
    #kalvi-home {
	background: $menu-bg;
	div,i {
	    color: $menu-fg;
	    text-shadow: none;
	}
    }
}

/* sessions */
article.sessions ul {
    @include no-bullets;
    li {
	padding: 20px;
	background: $normal-tab;
	color: $menu-fg;
	border-bottom: 3px solid darken($normal-tab, 7%);
	&:hover {
	    background: darken($normal-tab, 5%);
	}
	a {
	    color: #111;
	    .title {
		position: relative;
		top: -30px;
		font-weight: bold;
		font-size: 22px;
		padding-left: 20px;
	    }
	    span.thumbnails {
		img {
		    /* padding-right: 20px; */
		}
	    }
	    span.edit {
		float: right;
		position: relative;
		top: 20px;
	    }
	}
    }
}
