
@import "compass/typography/lists/bullets";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

$selected-tab: #ffec8b;
$normal-tab: #ececec;

$menu-bg: #111;
$menu-fg: #eee;

@import "compass-ui/theme/absolution";

@include absolution-theme;

div.container-fluid {
    padding-left: 0px;
}

nav {
  font-family: 'Open Sans', sans-serif;
  background: $menu-bg;
  a {
    color: $menu-fg;
    &:hover, &:focus {
      color: $selected-tab;
    }
  }
  ul.dropdown-menu {
    background: $menu-bg;
    color: $menu-fg;
  a {
    color: $menu-fg;
    &:hover {
	color: $menu-bg;
    }
  }
  .caret {
    border-bottom-color: $selected-tab;
    border-top-color: $selected-tab;
  }
  }
  height: 55px;
  .dropdown-arrow {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) $menu-bg;
  }
}

nav.navbar {
  top: 0px;
  position:fixed;
  width: 100%;
  @include border-radius(0);
  i {
    padding-right: 5px;
  }
}

span.username {
  font-weight: bold;
}

#tabs {
    padding-left: 0px;
    width: 140px;
    position:absolute;
    left:0px;
    top: 0px;
    z-index: 100;
    height: auto;
    ul {
        @include no-bullets;
        border-bottom: 4px solid #ccc;
	li {
	    @include transition-property(width);
	    @include transition-duration(0.2s);
	    clear: left;
	    width: 100%;
	    border: none;
            background: $normal-tab;
	    &.active {
		padding-bottom: 0;
		background: $selected-tab;
		width: 105%;
	        &:hover {
		    background: $selected-tab;
		}
	    }
	    div {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-shadow: 2px 1px 0px #fff;
		margin-top: 5%;
	    }
	    &:hover {
                background: darken($normal-tab, 5%);
		@include transition-property(width);
		@include transition-duration(0.2s);
		width: 105%;

            }
	    i {
		text-shadow: 2px 1px 0px #fff;
	    }
	    a {
		@include single-box-shadow(rgba(#333, 0.5), -4px, 13px, 11px);
		display:block;
		padding-top: 18%;
                height: 110%;
		padding-bottom: 18%;
		float: none;
		color: $menu-bg;
		text-align: center;
		&:focus {
		    outline: none;
		}
	    }

	}

    }
}

#box{
  position: fixed;
  top: 55px;
  padding: 0;
}

/* course styles */

#course-tabs {
    margin-left: 160px;
    a {
	margin: 0;
    }
    i {
      padding-right: 5px;
    }

.tab-button {
    @include single-box-shadow(rgba(#333, 0.5), -4px, 2px, 5px);
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: $normal-tab;
    padding-left: 3em;
    padding-right: 3em;
    color: $menu-bg;
    @include border-bottom-left-radius(30px);
    @include border-bottom-right-radius(30px);
    &:focus {
	background-color: $selected-tab;
        color: $menu-bg;
    }
    &:hover {
	background-color: darken($normal-tab, 5%);
        color: $menu-bg;
    &:focus {
	background-color: $selected-tab;
        color: $menu-bg;
    }
    }
}

}

#tabs {
#kalvi-home {
  background: $menu-bg;
  div,i {
  color: $menu-fg;
  text-shadow: none;
  }
}
}